<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amroz.ystore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".product_report"></activity>
        <activity android:name=".UserReport" />
        <activity android:name=".Dashboard" />
        <activity android:name=".MoreDetails" />
        <activity android:name=".ProductByCat" />

        <activity android:name=".Splash.Splash"></activity>


        <activity android:name=".Adding.AddUser"></activity>
        <activity android:name=".Chating.ContactsActivity" />
        <activity android:name=".Chating.MainChatActivity">

        </activity>

        <activity android:name=".Chating.ChatActivity" />
        <activity android:name=".ChatingActivity"></activity>

        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Mangs_Delete" />
        <activity android:name=".LoginActivity" >


        </activity>
        <activity android:name=".UpdateProduct" />
        <activity android:name=".Fragments.UpdateProfile" />
        <activity android:name=".AddCartActivity" />
        <activity android:name=".AddProductActivity" />
        <activity android:name=".AddCategoryActivity" />
    </application>

</manifest>